<footer class="main-footer">
  <div class="container footer-content">
    <p>© 2026 DataTirze</p>

    <div class="footer-links">
      <a href="/termos">Termos de Uso</a>
      <a href="/privacidade">Política de Privacidade</a>
    </div>
  </div>
</footer>
