<header class="header global-header header-maintenance">
  <div class="brand">
    <a href="/" class="brand-link" aria-label="DataTirze">
      <img src="/images/logo-datatirze.png" alt="DataTirze" class="logo" />
    </a>
  </div>
</header>
